
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');


body {
  background-color: #131217;
  font-family: 'Roboto', sans-serif;


}
.global-wrapper {
  margin-top: 0;
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  width: 100vw;
  font-weight: 700;
  color: #e2e8f0;
  font-size: 15px;
  margin-top: 5px;
  padding-bottom: 5px;
  
  border-bottom: 1px solid #1a202c!important;
}
.left-menu { 
  grid-area: 1 / 1 / 2 / 3;
  margin-top: 5px;
}
header ul {
  list-style: none;
}
.right-menu { 
  grid-area: 1 / 2 / 2 / 3; 
  text-align: right;
  margin-right: 20px;
}



.content {
  width: 1200px;
  margin: 50px auto;
}

.article-box {
  height: 120px;
  border-bottom: 1px solid #1a202c!important;
  margin: 30px 0;
}
.article-title {
  color: #e2e8f0;
  text-decoration: none;
  font-size: 1.5rem!important;
  font-weight: 500;
  line-height: 1.25;
}

.article-box small {
  color: #e2e8f0;
  font-weight: 200;
}
.article-box h2 {
  margin: 5px 0;
  font-weight: 500;
}
.time-icon {
  margin-right: 10px;
}



.blog-post {
  color: #e2e8f0;
}


.article-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "NavMenu Article";
}

.NavMenu { 
  grid-area: NavMenu;
  background: #1a202c;
  height: 300px;
  margin-right: 30px;
  padding: 20px;
}

.NavMenu strong {
  text-transform: uppercase;
}

.Article { 
  grid-area: Article; 
  line-height: 1.58;
  font-size: 1.125rem;
  color: #e2e8f0;
  font-weight: 200;
}
